<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.LAT_A_UC_1</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
    </array>
    <key>public.kern1.LAT_B_UC_1</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.LAT_C_UC_1</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.LAT_E_UC_1</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
    </array>
    <key>public.kern1.LAT_F_UC_1</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.LAT_G_UC_1</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.LAT_H_UC_1</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>N</string>
    </array>
    <key>public.kern1.LAT_K_UC_1</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.LAT_L_UC_1</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.LAT_M_UC_1</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.LAT_N_UC_2</key>
    <array>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.LAT_O_UC_1</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Oacute</string>
    </array>
    <key>public.kern1.LAT_P_UC_1</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.LAT_Q_UC_2</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.LAT_R_UC_1</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.LAT_S_UC_1</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.LAT_T_UC_1</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.LAT_U_UC_1</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1.LAT_U_UC_2</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.LAT_V_UC_1</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
    </array>
    <key>public.kern1.LAT_X_UC_1</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.LAT_Z_UC_2</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.LAT_a_LC_1</key>
    <array>
      <string>a</string>
      <string>aacute</string>
    </array>
    <key>public.kern1.LAT_c_LC_1</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.LAT_e_LC_1</key>
    <array>
      <string>e</string>
      <string>eacute</string>
    </array>
    <key>public.kern1.LAT_f_LC_1</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.LAT_g_LC_1</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.LAT_i_LC_1</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
    </array>
    <key>public.kern1.LAT_j_LC_1</key>
    <array>
      <string>j</string>
      <string>q</string>
    </array>
    <key>public.kern1.LAT_k_LC_1</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.LAT_l_LC_1</key>
    <array>
      <string>d</string>
      <string>l</string>
    </array>
    <key>public.kern1.LAT_n_LC_1</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.LAT_o_LC_1</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>oacute</string>
      <string>p</string>
    </array>
    <key>public.kern1.LAT_r_LC_1</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.LAT_s_LC_1</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.LAT_t_LC_1</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.LAT_v_LC_1</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>udieresis</string>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern1.LAT_x_LC_1</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.LAT_z_LC_1</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.LAT_A_UC_2</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
    </array>
    <key>public.kern2.LAT_H_UC_2</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>K</string>
      <string>L</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>R</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern2.LAT_J_UC_2</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.LAT_M_UC_2</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.LAT_O_UC_2</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Q</string>
    </array>
    <key>public.kern2.LAT_S_UC_2</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.LAT_T_UC_2</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.LAT_V_UC_2</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
    </array>
    <key>public.kern2.LAT_X_UC_2</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.LAT_Z_UC_2</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.LAT_a_LC_2</key>
    <array>
      <string>a</string>
      <string>aacute</string>
    </array>
    <key>public.kern2.LAT_f_LC_2</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.LAT_g_LC_2</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.LAT_h_LC_2</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.LAT_j_LC_2</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.LAT_n_LC_2</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
    </array>
    <key>public.kern2.LAT_o_LC_2</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>o</string>
      <string>oacute</string>
      <string>q</string>
    </array>
    <key>public.kern2.LAT_s_LC_2</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.LAT_t_LC_2</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.LAT_u_LC_2</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.LAT_v_LC_2</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern2.LAT_x_LC_2</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.LAT_z_LC_2</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
