<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-20</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>public.kern2.LAT_n_LC_2</key>
      <integer>-20</integer>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-50</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-20</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-20</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-20</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-60</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-30</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>public.kern2.LAT_n_LC_2</key>
      <integer>-50</integer>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-100</integer>
      <key>public.kern2.LAT_u_LC_2</key>
      <integer>-50</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>public.kern2.LAT_n_LC_2</key>
      <integer>-50</integer>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-80</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.LAT_n_LC_2</key>
      <integer>-20</integer>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-30</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>n</key>
      <integer>-80</integer>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-110</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.LAT_H_UC_2</key>
      <integer>70</integer>
      <key>public.kern2.LAT_n_LC_2</key>
      <integer>-20</integer>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-50</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>public.kern2.LAT_v_LC_2</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.LAT_n_LC_1</key>
    <dict>
      <key>public.kern2.LAT_v_LC_2</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.LAT_v_LC_1</key>
    <dict>
      <key>space</key>
      <integer>-50</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.LAT_o_LC_2</key>
      <integer>-50</integer>
      <key>public.kern2.LAT_v_LC_2</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
