<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>770</integer>
    <key>capHeight</key>
    <integer>680</integer>
    <key>copyright</key>
    <string>(c) 2020. Sans Nom: Eduardo Aire, Gabriel Pulpo, Isaías Loaiza, Jorge Campos, Mario Balcazar</string>
    <key>descender</key>
    <integer>-230</integer>
    <key>familyName</key>
    <string>SN Abbatia Beta</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <integer>560</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>570</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>-130</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>-120</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-10</integer>
        <key>y</key>
        <integer>238</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>170</integer>
        <key>y</key>
        <integer>-242</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>28.182</real>
        <key>x</key>
        <integer>195</integer>
        <key>y</key>
        <integer>101</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2020/08/30 20:31:33</string>
    <key>openTypeNameDesigner</key>
    <string>Sans Nom: Eduardo Aire, Gabriel Pulpo, Isaías Loaiza, Jorge Campos, Mario Balcazar</string>
    <key>openTypeNameLicense</key>
    <string>TBD</string>
    <key>openTypeNameManufacturer</key>
    <string>Sans Nom</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>540</integer>
      <integer>550</integer>
      <integer>680</integer>
      <integer>690</integer>
      <integer>740</integer>
      <integer>750</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-210</integer>
      <integer>-200</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>(c) 2020. Sans Nom: Eduardo Aire, Gabriel Pulpo, Isaías Loaiza, Jorge Campos, Mario Balcazar</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
