<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.2</key>
    <string>I_.2.glif</string>
    <key>I.3</key>
    <string>I_.3.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.2</key>
    <string>L_.2.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.2</key>
    <string>O_.2.glif</string>
    <key>O.3</key>
    <string>O_.3.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.</key>
    <string>Q_..glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.2</key>
    <string>a.2.glif</string>
    <key>alt</key>
    <string>alt.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.2</key>
    <string>e.2.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
