<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>740</integer>
    <key>copyright</key>
    <string>(c) 2020. Las Serifas: Aspacia Kusulas, Karla Mateos, Romina Hernandez, Sandra Morales y Tamara Segura.</string>
    <key>descender</key>
    <integer>-220</integer>
    <key>familyName</key>
    <string>Acrata Text Beta 4</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>identifier</key>
        <string>e0gDLIbC2w</string>
        <key>name</key>
        <string>m</string>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>28srgrHRkf</string>
        <key>name</key>
        <string>UC_Serif_top</string>
        <key>y</key>
        <integer>676</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>h7vSawXLdS</string>
        <key>name</key>
        <string>cap</string>
        <key>x</key>
        <integer>50</integer>
        <key>y</key>
        <integer>93</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>PPBsCqvnZU</string>
        <key>name</key>
        <string>UC_serif_bottom</string>
        <key>x</key>
        <integer>-15</integer>
        <key>y</key>
        <integer>80</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>R4kJGyBgH9</string>
        <key>name</key>
        <string>cap</string>
        <key>x</key>
        <integer>-50</integer>
        <key>y</key>
        <integer>648</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2020/07/30 05:03:19</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>1200</integer>
    <key>openTypeHheaDescender</key>
    <integer>-240</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Serifas: Aspacia Kusulas, Karla Mateos, Romina Hernandez, Sandra Morales y Tamara Segura.</string>
    <key>openTypeNameLicense</key>
    <string>TBD</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1240</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-240</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1240</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>260</integer>
    <key>openTypeVheaVertTypoAscender</key>
    <integer>1200</integer>
    <key>openTypeVheaVertTypoDescender</key>
    <integer>240</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>0</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.04</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-18</integer>
      <integer>0</integer>
      <integer>540</integer>
      <integer>558</integer>
      <integer>740</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>AcrataTextBeta4-Regular</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>94</integer>
      <integer>88</integer>
      <integer>100</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>80</integer>
      <integer>85</integer>
    </array>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Las Serifas: Aspacia Kusulas, Karla Mateos, Romina Hernandez, Sandra Morales y Tamara Segura. 2020.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
