<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>cannedDesign</string>
      </dict>
    </array>
    <key>com.fontlab.v2.tth</key>
    <dict>
      <key>zones</key>
      <dict>
        <key>base</key>
        <dict>
          <key>position</key>
          <integer>0</integer>
          <key>top</key>
          <false/>
          <key>width</key>
          <integer>18</integer>
        </dict>
        <key>fig</key>
        <dict>
          <key>position</key>
          <integer>740</integer>
          <key>top</key>
          <true/>
          <key>width</key>
          <integer>18</integer>
        </dict>
        <key>xhgt</key>
        <dict>
          <key>position</key>
          <integer>540</integer>
          <key>top</key>
          <true/>
          <key>width</key>
          <integer>18</integer>
        </dict>
      </dict>
    </dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>K/tilde Ñ23&amp;4Sñ
OS3S3S3S3
S2S2S2S2
KAKAKAKAKAKAKAKA
1234567890
ABCDEFGHIJKLMNOPQRSTUVWXYZ</string>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>glyphOrder</string>
        <key>value</key>
        <array>
          <string>space</string>
          <string>A</string>
          <string>Aacute</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>Eacute</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>Iacute</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>Ntilde</string>
          <string>O</string>
          <string>Oacute</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>Uacute</string>
          <string>Udieresis</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>AE</string>
          <string>OE</string>
          <string>a</string>
          <string>aacute</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>eacute</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>iacute</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>ntilde</string>
          <string>o</string>
          <string>oacute</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>uacute</string>
          <string>udieresis</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>ae</string>
          <string>dotlessi</string>
          <string>oe</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>onequarter</string>
          <string>onehalf</string>
          <string>threequarters</string>
          <string>underscore</string>
          <string>hyphen</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>numbersign</string>
          <string>percent</string>
          <string>ampersand</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>period</string>
          <string>comma</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>ellipsis</string>
          <string>exclam</string>
          <string>exclamdown</string>
          <string>question</string>
          <string>questiondown</string>
          <string>slash</string>
          <string>periodcentered</string>
          <string>acute</string>
          <string>grave</string>
          <string>tilde</string>
          <string>dieresis</string>
          <string>dotaccent</string>
          <string>*</string>
          <string>fi</string>
          <string>fl</string>
          <string>acute.cap</string>
          <string>notfed</string>
          <string>.notdef</string>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>openTypeGaspRangeRecords</string>
        <key>value</key>
        <array/>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>TTFZones</string>
        <key>value</key>
        <array>
          <dict>
            <key>name</key>
            <string>fig</string>
            <key>position</key>
            <integer>740</integer>
            <key>size</key>
            <integer>18</integer>
          </dict>
          <dict>
            <key>name</key>
            <string>xhgt</string>
            <key>position</key>
            <integer>540</integer>
            <key>size</key>
            <integer>18</integer>
          </dict>
          <dict>
            <key>name</key>
            <string>base</string>
            <key>position</key>
            <integer>0</integer>
            <key>size</key>
            <integer>-18</integer>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>master01</string>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>Aacute</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Udieresis</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>AE</string>
      <string>OE</string>
      <string>a</string>
      <string>aacute</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>iacute</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>udieresis</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>ae</string>
      <string>dotlessi</string>
      <string>oe</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>underscore</string>
      <string>hyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>slash</string>
      <string>periodcentered</string>
      <string>acute</string>
      <string>grave</string>
      <string>tilde</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>*</string>
      <string>fi</string>
      <string>fl</string>
      <string>acute.cap</string>
      <string>notfed</string>
      <string>.notdef</string>
    </array>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>public.default</string>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/Ro/Desktop/Acrata_Text_Beta_4.otf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.guideline.magnetic.EgDokUwvK1</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.Em09E2bC3N</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.qKpYahf2m3</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.EgDokUwvK1</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.Em09E2bC3N</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.qKpYahf2m3</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4633426704</string>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>Aacute</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Udieresis</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>aacute</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>iacute</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>udieresis</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>dotlessi</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>hyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>acute</string>
      <string>grave</string>
      <string>tilde</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>acute.cap</string>
      <string>notfed</string>
      <string>.notdef</string>
      <string>odieresis</string>
      <string>Ydieresis</string>
      <string>agrave</string>
      <string>otilde</string>
      <string>Egrave</string>
      <string>Odieresis</string>
      <string>Atilde</string>
      <string>ugrave</string>
      <string>Edieresis</string>
      <string>Adieresis</string>
      <string>edieresis</string>
      <string>Agrave</string>
      <string>ydieresis</string>
      <string>egrave</string>
      <string>yacute</string>
      <string>Igrave</string>
      <string>adieresis</string>
      <string>Otilde</string>
      <string>atilde</string>
      <string>ograve</string>
      <string>Yacute</string>
      <string>asterisk</string>
      <string>Idieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.postscriptNames</key>
    <dict/>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
