<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>740</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Acrata Headline Beta 2</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>gWumJlxXAU</string>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>p5TfqFsCZY</string>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6mrqIFpfch</string>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>jHyVP2XjGW</string>
        <key>name</key>
        <string>f1</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>30</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BQmTCoiYFQ</string>
        <key>name</key>
        <string>f2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>384</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>kXBOfz46HE</string>
        <key>name</key>
        <string>f3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>184</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>MDQA9cyKYW</string>
        <key>name</key>
        <string>f4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>346</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>b6wW6LkZ3G</string>
        <key>name</key>
        <string>f5</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>588</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ahPnHx7i9i</string>
        <key>name</key>
        <string>f6</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>557</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2020/07/16 16:49:51</string>
    <key>openTypeHeadFlags</key>
    <array/>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Acrata Headline Beta 2</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Heavy</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>100</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>750</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>250</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.04</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-18</integer>
      <integer>0</integer>
      <integer>540</integer>
      <integer>558</integer>
      <integer>740</integer>
      <integer>758</integer>
      <integer>760</integer>
      <integer>770</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>AcrataHeadlineBeta2-Heavy</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Acrata Headline Beta 2 Heavy</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-220</integer>
      <integer>-210</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Acrata Headline Beta 2</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Heavy</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
