<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>U</string>
		<string>Iacute</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>Ntilde</string>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>C</string>
		<string>D</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Oacute</string>
		<string>ampersand</string>
		<string>at</string>
		<string>zero</string>
		<string>six</string>
		<string>nine</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>Y</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>uacute</string>
		<string>udieresis</string>
	</array>
	<key>public.kern1.comma</key>
	<array>
		<string>comma</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>j</string>
		<string>q</string>
		<string>u</string>
		<string>iacute</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>a</string>
		<string>g</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>aacute</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>e</string>
		<string>o</string>
		<string>p</string>
		<string>s</string>
		<string>eacute</string>
		<string>oacute</string>
		<string>g.alt</string>
		<string>three</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>colon</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>seven</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>U</string>
		<string>Eacute</string>
		<string>Iacute</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>Ntilde</string>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>ampersand</string>
		<string>at</string>
		<string>zero</string>
		<string>six</string>
		<string>nine</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>Y</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>comma</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>t</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>uacute</string>
		<string>udieresis</string>
		<string>ntilde</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>a</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>s</string>
		<string>aacute</string>
		<string>eacute</string>
		<string>oacute</string>
		<string>g.alt</string>
		<string>three</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
		<string>seven</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>colon</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>y</string>
	</array>
</dict>
</plist>
