<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>public.kern2.n</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>F</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>two</key>
		<integer>-30</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>J</key>
		<integer>20</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>U</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>exclamdown</key>
		<integer>40</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>e</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>public.kern2.n</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>public.kern2.one</key>
		<integer>-60</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>0</integer>
		<key>t</key>
		<integer>-35</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>one</key>
		<integer>-50</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>five</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>-40</integer>
	</dict>
	<key>g.alt</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>j</key>
		<integer>-35</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-35</integer>
		<key>public.kern2.v</key>
		<integer>-40</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.one</key>
		<integer>-40</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>K</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-10</integer>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.H</key>
		<integer>0</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.one</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>S</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.one</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>exclam</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.H</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-25</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>j</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>30</integer>
		<key>public.kern2.i</key>
		<integer>0</integer>
		<key>public.kern2.n</key>
		<integer>10</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>guillemotright</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>public.kern2.n</key>
		<integer>0</integer>
		<key>public.kern2.one</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>j</key>
		<integer>-35</integer>
		<key>one</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.one</key>
	<dict>
		<key>five</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>b</key>
		<integer>-20</integer>
		<key>g.alt</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-40</integer>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>public.kern2.comma</key>
		<integer>-30</integer>
		<key>public.kern2.f</key>
		<integer>-20</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.n</key>
		<integer>-5</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>0</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>0</integer>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.one</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
