<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.ss01</key>
    <string>q.ss01.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
