<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.alt</key>
	<string>A_dieresis.alt.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Amacronbelow</key>
	<string>A_macronbelow.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Emacronbelow</key>
	<string>E_macronbelow.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Imacronbelow</key>
	<string>I_macronbelow.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.alt</key>
	<string>J_.alt.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.alt</key>
	<string>O_dieresis.alt.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omacronbelow</key>
	<string>O_macronbelow.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q_.alt.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.alt</key>
	<string>U_dieresis.alt.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Umacronbelow</key>
	<string>U_macronbelow.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacronbelow</key>
	<string>amacronbelow.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.alt</key>
	<string>ampersand.alt.glif</string>
	<key>ampersand.alt2</key>
	<string>ampersand.alt2.glif</string>
	<key>ampersand.alt3</key>
	<string>ampersand.alt3.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.lf</key>
	<string>eight.lf.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>eight.tosf</key>
	<string>eight.tosf.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emacronbelow</key>
	<string>emacronbelow.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.lf</key>
	<string>five.lf.glif</string>
	<key>five.tf</key>
	<string>five.tf.glif</string>
	<key>five.tosf</key>
	<string>five.tosf.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.lf</key>
	<string>four.lf.glif</string>
	<key>four.tf</key>
	<string>four.tf.glif</string>
	<key>four.tosf</key>
	<string>four.tosf.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.case</key>
	<string>grave.case.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>imacronbelow</key>
	<string>imacronbelow.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macron.case</key>
	<string>macron.case.glif</string>
	<key>macronbelow</key>
	<string>macronbelow.glif</string>
	<key>macronbelow.case</key>
	<string>macronbelow.case.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.lf</key>
	<string>nine.lf.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>nine.tosf</key>
	<string>nine.tosf.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.alt</key>
	<string>ntilde.alt.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omacronbelow</key>
	<string>omacronbelow.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.lf</key>
	<string>one.lf.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>one.tosf</key>
	<string>one.tosf.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.lf</key>
	<string>seven.lf.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>seven.tosf</key>
	<string>seven.tosf.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.lf</key>
	<string>six.lf.glif</string>
	<key>six.tf</key>
	<string>six.tf.glif</string>
	<key>six.tosf</key>
	<string>six.tosf.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.lf</key>
	<string>three.lf.glif</string>
	<key>three.tf</key>
	<string>three.tf.glif</string>
	<key>three.tosf</key>
	<string>three.tosf.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.case</key>
	<string>tilde.case.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.lf</key>
	<string>two.lf.glif</string>
	<key>two.tf</key>
	<string>two.tf.glif</string>
	<key>two.tosf</key>
	<string>two.tosf.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacronbelow</key>
	<string>umacronbelow.glif</string>
	<key>uni0304</key>
	<string>uni0304.glif</string>
	<key>uni0304.case</key>
	<string>uni0304.case.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni0308.case</key>
	<string>uni0308.case.glif</string>
	<key>uni0331</key>
	<string>uni0331.glif</string>
	<key>uni0331.case</key>
	<string>uni0331.case.glif</string>
	<key>uni1EBC</key>
	<string>uni1E_B_C_.glif</string>
	<key>uni1EBD</key>
	<string>uni1E_B_D_.glif</string>
	<key>uniA78B</key>
	<string>uniA_78B_.glif</string>
	<key>uniA78C</key>
	<string>uniA_78C_.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.lf</key>
	<string>zero.lf.glif</string>
	<key>zero.lf.zero</key>
	<string>zero.lf.zero.glif</string>
	<key>zero.lf.zero.001</key>
	<string>zero.lf.zero.001.glif</string>
	<key>zero.tosf</key>
	<string>zero.tosf.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
</dict>
</plist>
